#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(189, 43, 43);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
  height: 100px;
}

#container a {
  text-decoration: none;
}

.cabecera{
  height: 80px;
  text-align: center;
  
}

.titulo{
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bold;
}

.tarjeta{
  background-color: rgb(176, 37, 37);
  text-align: center;
}

#ion-content{
  background-color: cadetblue;
}

ion-footer{
  text-align: center;
  padding: 20px;
  background-color: rgb(145, 60, 60);
}

ion-footer > ion-toolbar > ion-title{
  font-family: 'Times New Roman', Times, serif;
  color: azure;
  font-size: 30px;
  background-color: rgb(66, 44, 44);
}


